<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker.min.css">
        <title>Currency Quotator</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2">
                    <div class="row">
                        <div class="col-12 gy-3">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-cash-coin"></i>
                                </span>
                                <select id="currencySelect" class="form-control">
                                    <option value="brl">Real</option>
                                    <option value="eur">Euro</option>
                                    <option value="jpy">Iene</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 gy-3" id="date-range-container">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                                <input type="text" class="form-control date-range-option" id="start_date" placeholder="Data inicial">
                                <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                                <input type="text" class="form-control date-range-option" id="end_date" placeholder="Data final">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 gy-3">
                            <button class="btn btn-primary form-control" onClick="getCurrencyQuotation()">Consultar</button>
                            <div id="error-msg"></div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-10 offset-sm-1">
                    <div class="row">
                        <div class="col-12 gy-3">
                            <div id="chart-container" height="360px" width="600px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/locales/pt-BR.js"></script>
        
        <script>
            var currencyQuotation = null
            var filteredQuotation = null

            // DatePicker: set default suggested date as '5 days ago'
            const elements = document.querySelector('#date-range-container')
            const defaultViewDate = new Date()
            defaultViewDate.setDate(defaultViewDate.getDate() - 4)
            const datepicker = new DateRangePicker(elements, {
                format: 'dd/mm/yyyy',
                maxDate: new Date(),
                defaultViewDate: defaultViewDate,
                language: 'pt-BR'
            })

            function createChart(data) {
                const chart = Highcharts.chart('chart-container', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Cotação de moedas'
                    },
                    xAxis: {
                        categories: data.map((_data) => { return _data[0] })
                    },
                    series: [{
                        data: data.map((_data) => { return _data[1] })
                    }]
                })
            }

            function reloadChart() {
                if (!(currencyQuotation.length > 0)) {
                    return
                }

                // pick rates data according to selected currency
                selectedCurrency = document.querySelector('#currencySelect').value.toUpperCase()
                filteredQuotation = currencyQuotation.map((data) => {
                    return [data.date, data.rates[selectedCurrency]]
                })

                createChart(filteredQuotation)
            }

            function getCurrencyQuotation() {
                document.querySelector('#error-msg').innerHTML = ''

                const start_date = document.querySelector('#start_date').value
                const end_date = document.querySelector('#end_date').value
                fetch(`/api/rates/?start_date=${start_date}&end_date=${end_date}`)
                .then(function(response) {
                    if (response.status == 200) {
                        response.json().then((data) => {
                            currencyQuotation = data
                            reloadChart()
                        })
                    }
                    else {
                        response.json().then((data) => {
                            if ('msg' in data) {
                                document.querySelector('#error-msg').innerHTML = data.msg
                            }
                        })
                    }
                })
            }

            const currencySelect = document.querySelector('#currencySelect')
            currencySelect.addEventListener('input', (event) => {
                reloadChart()
            }, false);
        </script>
    </body>

</html>